<form method="POST" action="/loginuser" >
    <legend>Login</legend>
    <fieldset>      
     <label>Email:</label>
     <input type="text" name="email" />
    </fieldset>
    <fieldset>
     <label>Password:</label>
        <input type="password" name="password" />
    </fieldset>    
    <button type="submit">Login</button>
</form>