<form method="POST" action="/registeruser" >
    <legend>Register</legend>
    <fieldset>      
     <label>Username:</label>
     <input type="text" name="username" />
    </fieldset>
    <fieldset>      
        <label>Email:</label>
        <input type="email" name="email" />
       </fieldset>
    <fieldset>
     <label>Password:</label>
        <input type="password" name="password" />
    </fieldset>    
    <button type="submit">Register</button>
</form>
<a href="/login">Login</a>