{
    "preset":[
        "env",{
            "target":{
                "browsers":[
                    "lasr 5 versions",
                    "ie >=8"
                ]
            }
        }
    ]
}